.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

.App-link {
  color: #61dafb;
}

.map-container {
  display: block;
  margin: auto;
  /* border: 2px solid blue; */
}

.marks .land {
  fill: lightgray;
}

.marks .interiors {
  fill: none;
  stroke: #eee;
  stroke-width: 0.5;
}

.marks .sphere {
  fill: #eee;
}

.marks .graticules {
  fill: none;
  stroke: #ddd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
